<div class="container">
  <h1>All Menus</h1>
    <% if @menus.blank? %>
    <h4>There are no menus.</h4>
    <% end %>
    <ul>
    <% @menus.each do |menu| %>
      <li><%= link_to menu.date, menu %></li>
    <% end %>
    </ul>
    <p><%= link_to "Submit a menu", new_menu_path %></p>
</div>
