<!-- <h1>Edit profile</h1>

<#%= render "form" %>

 -->
<% content_for :right_side do %>
<div class="card wow fadeInRight" data-wow-delay="0.3s">
    <div class="card-body">
        <!--Header-->
        <div class="text-center">
            <h3 class="white-text"><i class="fa fa-user white-text"></i> Edit Profile:</h3>
            <hr>
        </div>
        <%= render "styled_form" %>
        <% if @user == current_user %>
        <p>Remove your account? <%= link_to "Delete", @user, method: :delete,
                                data: { confirm: "Are you sure?" }%></p>
        <% end %>
      </div>
  </div>
<% end %>

<% content_for :left_side do %>
    <div class="white-text">
        <h1>Your Recipes On Our Menu</h1>
        <hr>
        <h6>"Bring me your best recipe, I’ll give you 10% of the profits per dish sold, and give the person you wish credit for the meal.”</h6>
        <br>
    </div>

<% end %>