<!-- <div class="#">
  <h3>Welcome to dev kitchen!</h3>
  <p>Register below:</p>
                        <div class="col-md-6 col-xl-5 offset-xl-1">
                        <%#= render "styled_form" %>
                        </div> -->
 <!-- <#%= render "form" %> -->
<!-- </div> -->
<% content_for :right_side do %>
<div class="card wow fadeInRight" data-wow-delay="0.3s">
    <div class="card-body">
        <!--Header-->
        <div class="text-center">
            <h3 class="white-text"><i class="fa fa-user white-text"></i> Register:</h3>
            <hr>
        </div>
        <%= render "styled_form" %>
      </div>
  </div>
<% end %>

