<% content_for :left_side do %>
                        <!-- <div class="col-md-6 text-center text-md-left mb-5"> -->
  <div class="white-text">
    <h1 class="h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s"> Your Recipes On Our Menu </h1>
    <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
    <h6 class="wow fadeInLeft" data-wow-delay="0.3s">"Bring me your best recipe, I’ll give you 10% of the profits per dish sold, and give the person you wish credit for the meal.”    </h6><br>
        <%= render "/menus/menu_list", :menu => @menu %>
    </div>  
<% end %>

<% content_for :right_side do %>
	<% if logged_in? %>
	  <div class="card wow fadeInRight" data-wow-delay="0.3s">
	    <div class="card-body">
	        <!--Header-->
	        <div class="text-center">
	            <h3 class="white-text"><i class="fa fa-user white-text"></i> Submit a Recipe:</h3>
	            <hr>
	        </div>
	        <% provide(:button_text, 'Submit') %>
	        <%= render "/recipes/styled_form", :recipe => @recipe %>
	      </div>
	  </div>
	<% else %>
	  <div class="card wow fadeInRight" data-wow-delay="0.3s">
	    <div class="card-body">
	        <!--Header-->
	        <div class="text-center">
	            <h3 class="white-text"><i class="fa fa-user white-text"></i> Register:</h3>
	            <hr>
	        </div>
	        <% provide(:button_text, 'Submit') %>
	        <%= render "/users/styled_form", :recipe => @recipe %>
	      </div>
	  </div>
	<% end%>

<% end %>
    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
           <div class="col-lg-3 col-md-3 col-sm-3">
            <a class="portfolio-box" href="https://static.pexels.com/photos/539451/pexels-photo-539451.jpeg">
              <img class="img-fluid" src="https://static.pexels.com/photos/539451/pexels-photo-539451.jpeg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    View
                  </div>
                  <div class="project-name">
                    Appetizers
                  </div>
                </div>
              </div>
            </a>
          </div>
           <div class="col-lg-3 col-md-3 col-sm-3">
            <a class="portfolio-box" href="https://static.pexels.com/photos/5916/food-salad-healthy-colorful.jpg">
              <img class="img-fluid" src="https://static.pexels.com/photos/5916/food-salad-healthy-colorful.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    View
                  </div>
                  <div class="project-name">
                    Salads
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <a class="portfolio-box" href="https://static.pexels.com/photos/660282/pexels-photo-660282.jpeg">
              <img class="img-fluid" src="https://static.pexels.com/photos/660282/pexels-photo-660282.jpeg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    View
                  </div>
                  <div class="project-name">
                    Main Courses
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <a class="portfolio-box" href="https://static.pexels.com/photos/14107/pexels-photo-14107.jpeg">
              <img class="img-fluid" src="https://static.pexels.com/photos/14107/pexels-photo-14107.jpeg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    View
                  </div>
                  <div class="project-name">
                    Desserts
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

     <section class="text-white mb-0" id="about">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">About</h2>
        <hr class="star-light mb-5">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto text-center">
            <p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>
          </div>
        </div>
        <div class="text-center mt-4">
          <a class="btn btn-xl btn-outline-light" href="#">
            <i class="fa fa-download mr-2"></i>
            Download Now!
          </a>
        </div>
      </div>
    </section>
