<div class="container">

    <h1><%= "Choose a " + @category.name %></h1>
     <ul>
        <% @recipes.each do |recipe| %>
          <li><%= link_to recipe.name, recipe_path %></li>
        <% end %>
    <ul>
</div>
