
    <section class="view intro-2 hm-gradient">
        <div class="full-bg-img">
            <div class="container flex-center">
                <div class="d-flex align-items-center content-height">
                    <div class="row flex-center pt-5 mt-3">
                        <div class="col-md-6 text-center text-md-left mb-5">
<!--                             <div class="white-text">
                                <h1 class="h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">Share Your Favorite Recipes </h1>
                                <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                                <h6 class="wow fadeInLeft" data-wow-delay="0.3s">"Bring me your best recipe, I’ll give you 10% of the profits per dish sold, and give the person you wish credit for the meal.”</h6>
                                <br>
                                <%# <a class="btn btn-outline-white wow fadeInLeft" data-wow-delay="0.3s">Learn more</a> %>
                            </div> -->
                        <% if content_for? :left_side %>
                          <%= yield :left_side %>
                        <% end %>
                        </div>

                        <div class="col-md-6 col-xl-5 offset-xl-1">
                        <!-- <#%= render "layouts/original_form" %> -->
                        <!--Displays right side content -->
                        <% if content_for? :right_side %>
                          <%= yield :right_side %>
                        <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
